<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Taco 2</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
	<div id="app">

		<header>
			<b>Header</b>
		</header>

		<main>
			<explorer id="explorer-1"></explorer>
			<explorer id="explorer-2"></explorer>
		</main>

		<footer>
			Footer
		</footer>

	</div>

	<!-- EXPLORER TEMPLATE -->
	<template id="explorer">
		<div class="explorer" :class="{ active: isActive }" :id="id" @mouseover="onMouseOver">
			<div class="path">
				{{ pathValue }}
				<input id="path" class="path" ref="path" type="text" 
					v-model="pathValue" 
					@keyup="autoCompleteSearch" 
					@keydown.tab.prevent="autoCompleteTraverse" 
					@keyup.enter="openPath" />
			</div>
			<div class="files">
				<table class="table table-responsive">
					<tbody>
						<tr is="file" v-for="file in sortedFiles" :key="file.name" :file="file" v-on:open-folder="openFolder"></tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				Total: {{ summary.total }}, Folders: {{ summary.folders }}, Files: {{ summary.files }}
			</div>
		</div>
	</template>

	<!-- FILE TEMPLATE -->
	<template id="file">
		<tr class="file" :class="[{ selected: file.selected }, { folder: file.isDirectory }]" @click="onClick(file)" @dblclick="onDblClick(file)">
			<td class="name"><i class="fa" :class="file.iconClass" aria-hidden="true"></i> {{ file.name }}</td>
			<td class="size">{{ file.size | kbSize }}</td>
			<td class="created">{{ file.created | toShortDate }}</td>
		</tr>
	</template>

	<!-- SCRIPTS -->
	<script src="../../node_modules/vue/dist/vue.min.js"></script>
	<script src="../../node_modules/vuex/dist/vuex.min.js"></script>
	
	 <script>
		require('./store')
		require('./explorer/explorer')
		require('./explorer/file')
		require('./main')
	</script> 
</body>

</html>