* {
    margin: 0;
}

html, body {
    height: 100vh;
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;	
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

header {
    height: 48px;
	background: rgb(96, 125, 139);
    color: #ffffff;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

header ul {
    display: flex;
    flex: 1;
    margin: 0;
}

header ul li {
    padding: 0 10px;
    display: flex;
    flex: 1 1;
}

main {
    display: flex;
    flex-direction: row;
	flex: 1;
    background-color: #f6f6f6;
}

.explorer {
    padding: 0px 5px;
    display: flex;
    flex: 1 1;
	flex-direction: column;
}

.explorer.active .files {
	 background-color: #ffffff; 
}

.explorer .path {
    width: 100%;
    padding-top: 10px;
}

.explorer .path input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    transition: all 0.3s;
    box-shadow: none;
    font-size: 16px;
    padding: 5px;
}

.explorer .path input {
	border-bottom: 2px solid rgba(0,0,0,.05);
}

.explorer .path input:focus {
	border-bottom: 2px solid rgb(96, 125, 139);
}

.explorer .files {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 10px
}

.explorer .files table tr td {
    padding: 1px 10px 0 0;
}

.explorer .files table tr td:last-child {
    padding-right: 0;
}
    
/***************************************************/

.explorer tr.selected {
	background-color: #e1e1ff;
}

.explorer tr:hover {
	background-color: #f6f6f6;
}

.explorer td {
	padding: 0;
	white-space: nowrap;
	width: 1%;
}

.explorer .file {
    cursor: default;
}

.explorer .name {
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	max-width: 200px;
}

.explorer .folder .name {
    color: blue;
}

.explorer .size {
	width: 100px;
}    

.explorer .created {
	padding-left: 10px;
    color: #808080;
    font-size: 12px;
}    

.explorer .file .size {
    text-align: right;
    color: #808080;
    font-size: 12px;
}

.explorer .summary {
    border-top: 2px solid rgba(0,0,0,.05);
    background-color: whitesmoke;
    padding: 5px 10px;
    font-size: 12px;
}