<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Taco 2</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./styles.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<div id="app">

		<header>
			Header
		</header>

		<main>
			<filelist></filelist>
			<filelist></filelist>
		</main>

		<footer>
			Footer
		</footer>

	</div>

	<!-- FILELIST TEMPLATE -->
	<template id="filelist">
		<div class="filelist">
			<div class="path">
				<input id="path" class="path" ref="path" type="text" v-model="path" @keyup.enter="getFiles()" />
			</div>
			<div class="files">
				<table class="table table-responsive">
					<tbody>
						<tr is="file" v-for="file in sortedFiles" :key="file.name" :file="file" v-on:change-folder="onChangeFolder"></tr>
					</tbody>
				</table>
			</div>
		</div>
	</template>

	<!-- FILE TEMPLATE -->
	<template id="file">
		<tr class="file" v-bind:class="[{ selected: file.selected }, { folder: file.isDirectory }]" @click="onClick(file)" @dblclick="onDblClick(file)">
			<td class="name"><i class="fa" v-bind:class="file.iconClass" aria-hidden="true"></i> {{ file.name }}</td>
			<td class="size">{{ file.size | kbSize }}</td>
			<td class="created">{{ file.created | toShortDate }}</td>
		</tr>
	</template>

	<!-- SCRIPTS -->
	<script>
		require('./filelist/filelist')
		require('./filelist/file')
		require('./main')
	</script>
</body>

</html>