<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Taco 2</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id="app">

        <div class="mdl-layout mdl-js-layout">

            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">Material Design Lite</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="#">Hello</a>
                        <a class="mdl-navigation__link" href="#">World.</a>
                        <a class="mdl-navigation__link" href="#">How</a>
                        <a class="mdl-navigation__link" href="#">Are</a>
                        <a class="mdl-navigation__link" href="#">You?</a>
                    </nav>
                </div>
            </header>

            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">Material Design Lite</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#">Hello</a>
                    <a class="mdl-navigation__link" href="#">World.</a>
                    <a class="mdl-navigation__link" href="#">How</a>
                    <a class="mdl-navigation__link" href="#">Are</a>
                    <a class="mdl-navigation__link" href="#">You?</a>
                </nav>
            </div>

            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <filelist></filelist>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <filelist></filelist>
                    </div>
                </div>
            </main>

        </div>

    </div>

    <!-- FILELIST TEMPLATE -->
    <template id="filelist">
        <div class="filelist">
            <div class="path-wrapper">
                <div class="mdl-textfield mdl-js-textfield">
                    <input id="path" class="mdl-textfield__input" type="text" v-model="path" @keyup.enter="getFiles()" />
                    <label class="mdl-textfield__label" for="path">Path</label>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="mdl-data-table mdl-js-data-table">
                    <tr class="file" v-bind:class="{ folder: file.stats.isDirectory }" v-for="file in sortedFiles" @click="gotoFolder(file.name)">
                        <td class="mdl-data-table__cell--non-numeric name">{{ file.name }}</td>
                        <td class="size">{{ file.stats.size | kbSize }}</td>
                        <td class="created">{{ file.stats.created | toShortDate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </template>

    <!-- SCRIPTS -->
    <script>
        require('./filelist/filelist')
        require('./main')
    </script>
</body>

</html>