main {
    background-color: whitesmoke;
}

.filelist {
    background-color: white;
}

.filelist .path-wrapper {
    padding: 10px;
    width: 100%;
}

.filelist .path-wrapper .mdl-textfield {
    padding: 0;
    width: 100%;
}

.filelist .table-wrapper {
    padding: 0 10px 10px 10px;
}

.filelist .mdl-data-table tbody tr {
    height: inherit;
}

.filelist table.mdl-data-table {
    width: 100%;
    border: none;
}

.filelist table.mdl-data-table td {
    padding: 2px;
    height: inherit;
    border: none;
}

.filelist .file {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.filelist .folder {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.filelist .file:hover, 
.filelist .folder:hover {
    background-color: whitesmoke;
}    

.filelist .file .size {
    text-align: right;
}