body {
	font-size: 14px;
    background-color: gray;
}

.container-fluid {
    padding: 0;
}

.filelist {
    background-color: white;
}

.filelist:last-child {
    padding-left: 10px;
}

.filelist table {
    height: 800px;
    overflow-y: scroll;
    table-layout: fixed;
    display: block;
}

.filelist tr.selected {
	background-color: #e1e1ff;
}

.filelist tr:hover {
	background-color: #eeeeff;
}

.filelist td {
	padding: 0;
	white-space: nowrap;
	width: 1%;
}

.filelist td:last-child {
	padding-left: 10px;
}

.filelist .file {
    cursor: default;
}

.filelist .name {
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	max-width: 200px;
}

.filelist .size {
	width: 100px;
}

.filelist .created {
	width: 100px;
}

.filelist .folder .name {
    color: blue;
}

/* .filelist .file:hover, 
.filelist .folder:hover {
    background-color: whitesmoke;
}     */

.filelist .file .size {
    text-align: right;
}