* {
    margin: 0;
}

html, body {
    height: 100vh;
}

body {
	font-size: 14px;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 64px;
    background: lightblue;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

footer {
    height: 64px;
    background: lightblue;
}

.filelist {
    padding: 10px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.filelist .path {
    width: 100%;
    padding-bottom: 5px;
}

.filelist .path input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    transition: all 0.3s;
    box-shadow: none;
    font-size: 16px;
    padding: 5px;
}

.filelist .path:focus {
    border-bottom: 2px solid cadetblue;
}

.filelist .files {
    flex: 1 1 auto;
    overflow-y: auto;
    /* min-height: 0px; */
}

/***************************************************/

.filelist tr.selected {
	background-color: #e1e1ff;
}

.filelist tr:hover {
	background-color: #eeeeff;
}

.filelist td {
	padding: 0;
	white-space: nowrap;
	width: 1%;
}

.filelist .file {
    cursor: default;
}

.filelist .name {
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	max-width: 200px;
}

.filelist .size {
	width: 100px;
}

.filelist .created {
	width: 100px;
}

.filelist .folder .name {
    color: blue;
}

.filelist .file .size {
    text-align: right;
}